{% extends 'shortener/base.html' %}
{% block title %} Statistics {% endblock %}
{% block content %}
{% if urls %}
    <table>
    <thead>
    <tr>
        <th>#</th>
        <th>Original URL</th>
        <th>Short URL</th>
        <th>Count</th>
        <th>Created At</th>
    </tr>
    </thead>
    <tbody>
    {% for url in urls %}
        <tr>
        <td>{{ forloop.counter }}</td>
        <td>
            <a href="{{ url.original_url }}" target="blank">{{ url.original_url|truncatechars:20 }}</a>
        </td>
        <td>
            <a href="{{ url.short_url }}" target="blank">{{ url.short_url }}</a>
        </td>
        <td>
            {{ url.count }}
        </td>
        <td>
            {{ url.created_at }}
        </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    <p>{{ urls|date }}</p>
{%  endif %}
{%  endblock %}