/Homeworks/hw_24/elasticsearch_and_graphql/env/
/Homeworks/hw_24/External Libraries/
/Homeworks/hw_24/Scratches and Consoles/
/Homeworks/hw_24/elasticsearch_and_graphql/analytics-frontend/node_modules
