<!DOCTYPE html>
<html lang="en">
<head>
    <title>Categories</title>
</head>
<body>
    <h1>Categories</h1>
    <ul>
        {% for category in categories %}
            <li>
                <a href="{% url 'board:category_detail' category_id=category.id %}">{{ category.name }}</a> - {{ category.description }}
                ({{ category.count_active_ads }} active ads)
            </li>
        {% empty %}
            <li>No categories available.</li>
        {% endfor %}
    </ul>
    <p><a href="{% url 'board:ad_list' %}">Back to Ads List</a></p>
</body>
</html>
